doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            nav(class="flex flex-wrap items-center justify-between p-4")
                div(class="lg:order-2 w-auto lg:w-1/5 lg:text-center")
                div(class="block lg:hidden")
                    button(class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500")
                        svg(class="fill-current h-3 w-3", viewbox="0 0 20 20", xmlns="http://www.w3.org/2000/svg")
                            title Menu
                            path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
                div(class="navbar-menu hidden lg:order-1 lg:block w-full lg:w-2/5")
                    a(class="block lg:inline-block mt-4 lg:mt-0 mr-10 hover:text-blue-700 text-grey-700 text-xl", href="#") Work
                    a(class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700 text-xl", href="/about.html") About
                    a(class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-blue-700 text-xl", href="#") What they are saying
                div(class="navbar-menu hidden lg:order-3 lg:block w-full lg:w-2/5 lg:text-right")
                    a(class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700 text-xl", href="#") Musings
                    a(class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700 text-xl", href="#") Contact
                    a(class="block lg:inline-block mt-4 lg:mt-0 text-blue-900 hover:text-blue-700", href="#")


            section(class="py-12 px-4 text-center")
                div(class="w-full max-w-2xl mx-auto")
                    span(class="font-semibold text-5xl text-red-900") Hi, I'm Usha Ramani
                    h2(class="mt-2 mb-6 leading-tight font-heading text-2xl text-gray-500") I love structuring websites, connecting with people, running communities and narrating books.
                    p(class="mb-8 text-gray-500 leading-relaxed" ) Professional, dedicated, local. Dunder Mifflin is on its best patch to change the way you think about paper. That’s us - people who sell limitless paper in the paperless world.
                    div
                        a(href="#" class="inline-block py-4 px-8 mr-6 leading-none rounded shadow bg-yellow-400 hover:bg-gray-400 text-red-900 text-xl") Read my latest blog
                        a(href="#" class="" ) Learn more

            section(class="py-12 px-4 text-center")
                h2(class="mb-8 font-heading text-4xl text-blue-600") How I can help?
                div(class="flex flex-wrap items-center justify-center -mx-8 mb-12")
                    div(class="lg:w-1/3 px-8 mb-8 lg:mb-0")
                        img(class="mx-auto", src="placeholders/icons/mobile.svg", alt="")
                        h3(class="text-2xl mt-6 mb-3 font-heading") Affordable portfolio websites
                        p(class="text-gray-500 leading-relaxed text-xl")
                            | The modern business card to showcase your uniqueness to the world. Student, professor, professional or a business leader, share your story with a personalised website.
                    div(class="lg:w-1/3 px-8 mb-8 lg:mb-0")
                        img(class="mx-auto", src="placeholders/icons/pen.svg", alt="")
                        h3(class="text-2xl mt-6 mb-3 font-heading") Email Marketting
                        p(class="text-gray-500 leading-relaxed text-xl")
                            | Help you in nurturing your potential/existing clients by engaging them with curated content, updates, pictures and offers.
                    div(class="lg:w-1/3 px-8 mb-8 lg:mb-0")
                        img(class="mx-auto", src="placeholders/icons/van.svg", alt="")
                        h3(class="text-2xl mt-6 mb-3 font-heading") Make Online Resumes
                        p(class="text-gray-500 leading-relaxed text-xl")
                            | An ONLINE resume is so much more powerful than that on a paper. It can land you that dream job. I can help you create a professional-looking one, without getting your hands dirty.


            section(class="py-12 px-4 text-center")
                h2(class="text-4xl mb-8 font-heading text-blue-600 mt-1") Clients Speak

                div(class="max-w-2xl mx-auto")
                    img(src="placeholders/pictures/office.jpg" alt="" class="rounded shadow-md" )

                    div(class="text-center mt-8 mb-6")
                        button(class="inline-flex items-center justify-center h-3 w-3 mr-2 bg-gray-800 rounded-full")
                        button(class="inline-flex items-center justify-center h-3 w-3 mr-2 bg-gray-600 rounded-full")
                        button(class="inline-flex items-center justify-center h-3 w-3 mr-2 bg-gray-600 rounded-full")

                    div
                        h3(class="text-2xl mb-4 font-heading") Katya Saberson for www.executivemind.net
                        p(class="text-gray-500 leading-relaxed text-xl") Usha has helped me put my training business online by developing a great website. I am very proud of it and am able to increase the reach of my business.